 <div class="landing-text">
        <h1>Your Adventures</h1>
      </div>
    </header>

    <div class="about-section">
      <h1>About Me</h1>
      <p>Some text about who we are and what we do.</p>
      <p>
        Adventurer stats
      </p>
    </div>

    <h2 style="text-align: center;">HELLO username</h2>
    <div class="row">
       

      <div class="column profile">
        <div class="card">
          <img src="/public/assets/images/image.png" alt="Mike" style="width: 100%;" />
          <div class="container">
            <h2 class="realname">Warrior Name</h2>
            <p class="title username">username</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p class="email">mike@example.com</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>