        <section class="home" id="home">
          <div class="container">
            <div class="profile-img" data-aos="fade-right" data-aos-delay="300">
              <img src="https://cdn.shopify.com/s/files/1/1871/9501/articles/back-pain-and-riding-a-motorcycle-1200x800_1200x.jpeg?v=1537286927" alt="kc-skyline">
            </div>
            <div class="home-details" data-aos="fade-left" data-aos-delay="600">
              <div class="home-heading">
                <h1>Your</h1>
                <h6>Weekend</h6>
              </div>
              <p>
                
              </p>
            </div>
          </div>
        </section>



