
    <header>
      <div class="menu-toggler">
        <div class="bar half start"></div>
        <div class="bar"></div>
        <div class="bar half end"></div>
      </div>
      <nav class="top-nav">
        <ul class="nav-list">
          <li>
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li>
            <a href="login.html" class="nav-link">Login</a>
          </li>
          <li>
            <a href="adventure.html" class="nav-link">Adventure</a>
          </li>
          <li>
            <a href="epic.html" class="nav-link">Epic Weekend</a>
          </li>
        </ul>
      </nav>

      <div class="landing-text">
        <h1>Login</h1>
      </div>
    </header>

    <form action="/login" method="POST">
      <div class="imgcontainer"></div>

      <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required />

         

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me
        </label>
      </div>

      <div class="container" style="background-color: #f1f1f1;">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>

    <footer class="copyright">
      <div class="up" id="up">
        <i class="fas fa-chevron-up"></i>
      </div>
      <p>&copy; 2020</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/index.js"></script>