    <div id='map' style='width: 400px; height: 300px; margin: auto;'></div>
    <button type="button" class="btn btn-warning" id="newMarker" onclick="addMarker()">New Marker</button>
    <button type="button" class="btn btn-primary" id="saveMarker" onclick="saveMarker()">Save Marker</button>
    <!-- <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="usersInput" placeholder="Plans?">
            </div>

        </div>
    </form> -->


